@import "tailwindcss";

:root[data-theme="dark"] {
  --background: #1e1a2d;
  --foreground: #f8fafc;
}

:root[data-theme="light"] {
  --background: #f8fafc;
  --foreground: #1e1a2d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
